@font-face {
  font-family: 'icomoon';
  src:  url('font-icomoon/fonts/icomoon.eot?sd8110');
  src:  url('font-icomoon/fonts/icomoon.eot?sd8110#iefix') format('embedded-opentype'),
    	url('font-icomoon/fonts/icomoon.ttf?sd8110') format('truetype'),
    	url('font-icomoon/fonts/icomoon.woff?sd8110') format('woff'),
    	url('font-icomoon/fonts/icomoon.svg?sd8110#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

 [class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* line-height: 1; */

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* margin-top:2px; */
}

.icon-px_close:before {
  content: "\e900";
  color: #546e7a;
}
.icon-x4px_down:before {
  content: "\e901";
  color: #32b16c;
}
.icon-px_add:before {
  content: "\e902";
  color: #32b16c;
}
.icon-px_chongzhi:before {
  content: "\e903";
  color: #32b16c;
}
.icon-px_clear:before {
  content: "\e904";
  color: #32b16c;
}
.icon-px_del:before {
  content: "\e905";
  color: #32b16c;
}
.icon-px_erp:before {
  content: "\e906";
  color: #32b16c;
}
.icon-px_peizhi:before {
  content: "\e907";
  color: #32b16c;
}
.icon-px_reset:before {
  content: "\e908";
  color: #32b16c;
}
.icon-px_rili:before {
  content: "\e909";
  color: #32b16c;
}
.icon-px_search:before {
  content: "\e90a";
  color: #32b16c;
}
.icon-px_shuaxin:before {
  content: "\e90b";
  color: #32b16c;
}
.icon-px_wancheng:before {
  content: "\e90c";
  color: #32b16c;
}
.icon-px_xiugai:before {
  content: "\e90d";
  color: #32b16c;
}
.icon-px_xuanzhong:before {
  content: "\e90e";
  color: #fff;
}
.icon-px_xuanzhong_no:before {
  content: "\e90f";
  color: #32b16c;
}
.icon-px_user:before {
  content: "\e910";
  color: #32b16c;
}
.icon-px_xiugaimima:before {
  content: "\e911";
  color: #32b16c;
}
.icon-px_zhuxiao:before {
  content: "\e912";
  color: #32b16c;
}
.icon-baocun:before {
  content: "\e913";
  color: #32b16c;
}
.icon-canshudingyi:before {
  content: "\e914";
  color: #32b16c;
}
.icon-chakan:before {
  content: "\e915";
  color: #32b16c;
}
.icon-chexiao:before {
  content: "\e916";
  color: #32b16c;
}
.icon-close:before {
  content: "\e917";
  color: #32b16c;
}
.icon-dayin:before {
  content: "\e918";
  color: #32b16c;
}
.icon-fuzhi:before {
  content: "\e919";
  color: #32b16c;
}
.icon-lefticon_18px_baobiao:before {
  content: "\e91a";
  color: #32b16c;
}
.icon-lefticon_18px_cangchu:before {
  content: "\e91b";
  color: #32b16c;
}
.icon-lefticon_18px_erji:before {
  content: "\e91c";
  color: #32b16c;
}
.icon-lefticon_18px_esop:before {
  content: "\e91d";
  color: #32b16c;
}
.icon-lefticon_18px_jiankong:before {
  content: "\e91e";
  color: #32b16c;
}
.icon-lefticon_18px_jihua:before {
  content: "\e91f";
  color: #32b16c;
}
.icon-lefticon_18px_menu:before {
  content: "\e920";
  color: #32b16c;
}
.icon-lefticon_18px_rizhi:before {
  content: "\e921";
  color: #32b16c;
}
.icon-lefticon_18px_shebei:before {
  content: "\e922";
  color: #32b16c;
}
.icon-lefticon_18px_shujuku:before {
  content: "\e923";
  color: #32b16c;
}
.icon-lefticon_18px_xianbian:before {
  content: "\e924";
  color: #32b16c;
}
.icon-lefticon_18px_xitong:before {
  content: "\e925";
  color: #32b16c;
}
.icon-lefticon_18px_yujing:before {
  content: "\e926";
  color: #32b16c;
}
.icon-lefticon_18px_zhiliang:before {
  content: "\e927";
  color: #32b16c;
}
.icon-lefticon_18px_zhixing:before {
  content: "\e928";
  color: #32b16c;
}
.icon-linshigongyi:before {
  content: "\e929";
  color: #32b16c;
}
.icon-picixiafa:before {
  content: "\e92a";
  color: #32b16c;
}
.icon-qiyong:before {
  content: "\e92b";
  color: #32b16c;
}
.icon-shang:before {
  content: "\e92c";
  color: #546e7a;
}
.icon-shang1:before {
  content: "\e92d";
  color: #32b16c;
}
.icon-shang2:before {
  content: "\e92e";
  color: #32b16c;
}
.icon-shengji:before {
  content: "\e92f";
  color: #32b16c;
}
.icon-tiaoban:before {
  content: "\e930";
  color: #32b16c;
}
.icon-xia:before {
  content: "\e931";
  color: #32b16c;
}
.icon-xia1:before {
  content: "\e932";
  color: #32b16c;
}
.icon-xia2:before {
  content: "\e933";
  color: #32b16c;
}
.icon-zuo:before {
  content: "\e934";
  color: #546e7a;
}
.icon-箭头-右双-01:before {
  content: "\e935";
}
.icon-箭头-左双-01:before {
  content: "\e936";
}
